In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Read Data into dataframe

In [2]:
data_20170101_20181130 = pd.read_csv('./datasets/TaiPower_20170101_20181130.csv')
data_20180101_20190131 = pd.read_csv('./datasets/TaiPower_20180101_20190131.csv')

### Check for Null values

In [3]:
print('data_20170101_20181130 Null Values')
for column in data_20170101_20181130:
    if data_20170101_20181130[column].isnull().any():
       print('{0} has {1} null values'.format(column, data_20170101_20181130[column].isnull().sum()))

data_20170101_20181130 Null Values
大林#1 has 181 null values
大林#2 has 424 null values
大林(#3-#4) has 122 null values

In [4]:
print('data_20180101_20190131 Null Values')
for column in data_20180101_20190131:
    if data_20180101_20190131[column].isnull().any():
       print('{0} has {1} null values'.format(column, data_20180101_20190131[column].isnull().sum()))

data_20180101_20190131 Null Values
大林#2 has 59 null values
大林(#3-#4) has 122 null values

## Seperate 2017 data

In [5]:
data_2017 = data_20170101_20181130[data_20170101_20181130['日期'] <= 20171231]

### A peek of 2017 data

In [6]:
data_2017.head()

,日期,淨尖峰供電能力(MW),尖峰負載(MW),備轉容量(MW),備轉容量率(%),工業用電(百萬度),民生用電(百萬度),核一#1(萬瓩),核一#2(萬瓩),核二#1(萬瓩),...,大觀二,明潭,碧海,立霧,龍澗,卓蘭,水里,其他小水力,風力發電,太陽能發電
0,20170101,24957,22886,2071,9.05,268.503,196.229,0,62.8,0.0,...,28.6,65.9,0.0,0.0,0.6,2.0,0.0,6.2,12.2,0.0
1,20170102,26035,24483,1552,6.34,280.534,205.022,0,62.8,0.0,...,49.3,94.0,0.0,0.0,0.7,2.2,0.0,6.0,12.7,0.0
2,20170103,29152,28131,1021,3.63,320.449,234.193,0,62.7,0.0,...,39.5,68.3,0.0,0.0,0.4,3.9,0.0,4.0,25.2,0.0
3,20170104,29757,28485,1272,4.47,329.623,240.898,0,62.8,0.0,...,40.9,68.3,0.0,0.0,0.4,3.1,0.0,15.9,9.3,0.0
4,20170105,30065,28336,1729,6.10,330.137,241.273,0,62.8,0.0,...,26.3,61.5,0.0,0.0,0.3,2.1,0.0,9.3,6.5,0.0

## Seperate 2018 data

In [7]:
data_2018 = data_20180101_20190131[data_20180101_20190131['日期'] <= 20181231]

### A peek of 2018 data

In [8]:
data_2018.head()

,日期,淨尖峰供電能力(MW),尖峰負載(MW),備轉容量(MW),備轉容量率(%),工業用電(百萬度),民生用電(百萬度),核一#1(萬瓩),核一#2(萬瓩),核二#1(萬瓩),...,大觀二,明潭,碧海,立霧,龍澗,卓蘭,水里,其他小水力,風力發電,太陽能發電
0,20180101,25708.0,23638,2070.0,8.76,279.707,189.179,0,0,98.8,...,29.4,49.5,2.7,1.6,4.2,3.0,0.0,15.5,35.1,0.0
1,20180102,29536.0,27816,1720.0,6.18,321.468,217.423,0,0,98.9,...,31.0,43.9,3.9,1.6,4.4,3.0,0.0,11.6,13.9,0.0
2,20180103,30132.0,28253,1879.0,6.65,334.264,226.077,0,0,98.9,...,24.6,32.3,3.9,1.6,3.9,2.5,0.0,22.3,6.8,0.0
3,20180104,30716.0,28757,1959.0,6.81,337.945,228.567,0,0,98.8,...,14.8,45.2,3.9,1.6,3.9,3.0,0.0,22.1,19.1,0.0
4,20180105,30401.0,28260,2141.0,7.58,337.418,228.211,0,0,98.7,...,15.7,33.3,1.5,1.6,0.0,1.8,0.0,22.1,56.2,0.4